In [1]:
#1) les chaines de caractères
nom ='Joseph'
print(nom)

Joseph

In [3]:
#2) Ecrire plusieurs lignes
#Première méthode
texte1 ='Ici nous avons deux filières:\nInformatique et Télécom\nok?'
print(texte1)

Ici nous avons deux filières:
Informatique et Télécom
ok?

In [7]:
#Deuxième méthode
texte2 ='''Ici nous avons deux filières
Informatique et Télécom
ok?'''
print(texte2)

Ici nous avons deux filières
Informatique et Télécom
ok?

Les listes

In [8]:
#liste vide
liste_1 =[]
print(liste_1)

[]

In [11]:
#liste non vide
liste_2 =['Fadilath','Emmanuel','Josias']
print(liste_2)

['Fadilath', 'Emmanuel', 'Josias']

In [15]:
#Afficher un élément de la liste
print(liste_2[0])

Fadilath

In [16]:
#Afficher le nombre d'élément contenu dans une liste
print(len(liste_2))

4

In [17]:
#Ajout d'un élément à la fin d'une liste
liste_2.append('Paul')
print(liste_2)

['Fadilath', 'Emmanuel', 'Josias', 'Paul', 'Paul']

In [19]:
#Ajout d'un élément suivant la position
liste_2.insert(0,'Abdias')
print(liste_2)

['Abdias', 'Fadilath', 'Emmanuel', 'Josias', 'Paul', 'Paul']

# Les fonctions

In [20]:
def affichage():
    print('Je suis au cours')
    
#Appel de la fonction
affichage()

Je suis au cours

# Les fonctions avec arguments

In [31]:
# Définissons la fonction f(x)= x*x+1
def fonc(x):
    y= x*x+1
    print(y)
fonc(2)

5

# Les structures de contôle

In [33]:
#Ecrivons une fonction qui parcourt une liste et affiche chaque nombre de celle ci +1
# la boucle for
def parcour():
    y=[0,1,2,3,4,5]
    for i in y:
        print(i+1)
parcour()

1
2
3
4
5
6

In [ ]:
#Ecrivons une fonction qui parcourt une liste et affiche chaque nombre de celle ci +1
# la boucle while
def parcour():
    y=[0,1,2,3,4,5]
    j=0
    while j<len(y):
        print(y[j]+1)
        j=j+1
parcour()

 # Incrémentation et décrémentation
j=j+1 ou j+=1;
j=j-1 ou j-=1;
a=a*5 ou a*=5;
f=f/2 ou f/=2;

Exo_jour_1

In [12]:
#Ecriture de la table de multiplication de 5 avec la boucle for
print('Table de multiplication de 5')
for i in range(0,101) :
    print('5 *',i,'=',5*i)

Table de multiplication de 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110
5 * 23 = 115
5 * 24 = 120
5 * 25 = 125
5 * 26 = 130
5 * 27 = 135
5 * 28 = 140
5 * 29 = 145
5 * 30 = 150
5 * 31 = 155
5 * 32 = 160
5 * 33 = 165
5 * 34 = 170
5 * 35 = 175
5 * 36 = 180
5 * 37 = 185
5 * 38 = 190
5 * 39 = 195
5 * 40 = 200
5 * 41 = 205
5 * 42 = 210
5 * 43 = 215
5 * 44 = 220
5 * 45 = 225
5 * 46 = 230
5 * 47 = 235
5 * 48 = 240
5 * 49 = 245
5 * 50 = 250
5 * 51 = 255
5 * 52 = 260
5 * 53 = 265
5 * 54 = 270
5 * 55 = 275
5 * 56 = 280
5 * 57 = 285
5 * 58 = 290
5 * 59 = 295
5 * 60 = 300
5 * 61 = 305
5 * 62 = 310
5 * 63 = 315
5 * 64 = 320
5 * 65 = 325
5 * 66 = 330
5 * 67 = 335
5 * 68 = 340
5 * 69 = 345
5 * 70 = 350
5 * 71 = 355
5 * 72 = 360
5 * 73 = 365
5 * 74 = 370
5 * 75 = 375
5 * 76 = 380
5 * 77 = 385
5 * 78 = 390
5 * 79 = 395
5 * 80 = 400
5 * 81 = 405
5 * 82 = 410
5 * 83 = 415
5 * 84 = 420
5 * 85 = 425
5 * 86 = 430
5 * 87 = 435
5 * 88 = 440
5 * 89 = 445
5 * 90 = 450
5 * 91 = 455
5 * 92 = 460
5 * 93 = 465
5 * 94 = 470
5 * 95 = 475
5 * 96 = 480
5 * 97 = 485
5 * 98 = 490
5 * 99 = 495
5 * 100 = 500

In [1]:
#Ecriture de la table de multiplication de 5 avec la boucle while
print('Table de multiplication de 5')
i=0
while i<101 :
    print('5 *',i,'=',5*i)
    i+=1

Table de multiplication de 5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110
5 * 23 = 115
5 * 24 = 120
5 * 25 = 125
5 * 26 = 130
5 * 27 = 135
5 * 28 = 140
5 * 29 = 145
5 * 30 = 150
5 * 31 = 155
5 * 32 = 160
5 * 33 = 165
5 * 34 = 170
5 * 35 = 175
5 * 36 = 180
5 * 37 = 185
5 * 38 = 190
5 * 39 = 195
5 * 40 = 200
5 * 41 = 205
5 * 42 = 210
5 * 43 = 215
5 * 44 = 220
5 * 45 = 225
5 * 46 = 230
5 * 47 = 235
5 * 48 = 240
5 * 49 = 245
5 * 50 = 250
5 * 51 = 255
5 * 52 = 260
5 * 53 = 265
5 * 54 = 270
5 * 55 = 275
5 * 56 = 280
5 * 57 = 285
5 * 58 = 290
5 * 59 = 295
5 * 60 = 300
5 * 61 = 305
5 * 62 = 310
5 * 63 = 315
5 * 64 = 320
5 * 65 = 325
5 * 66 = 330
5 * 67 = 335
5 * 68 = 340
5 * 69 = 345
5 * 70 = 350
5 * 71 = 355
5 * 72 = 360
5 * 73 = 365
5 * 74 = 370
5 * 75 = 375
5 * 76 = 380
5 * 77 = 385
5 * 78 = 390
5 * 79 = 395
5 * 80 = 400
5 * 81 = 405
5 * 82 = 410
5 * 83 = 415
5 * 84 = 420
5 * 85 = 425
5 * 86 = 430
5 * 87 = 435
5 * 88 = 440
5 * 89 = 445
5 * 90 = 450
5 * 91 = 455
5 * 92 = 460
5 * 93 = 465
5 * 94 = 470
5 * 95 = 475
5 * 96 = 480
5 * 97 = 485
5 * 98 = 490
5 * 99 = 495
5 * 100 = 500

In [15]:
#Ecriture de la table de multiplication de 5 avec la boucle for
a=int(input('Entrez le valeur du nombre dont vous voulez afficher la TM : '))
print('Table de multiplication de', str(a))
for i in range(0,16) :
    print(str(a),'*',str(i),'=',str(a*i))

Entrez le valeur du nombre dont vous voulez afficher la TM : 28
Table de multiplication de 28
28 * 0 = 0
28 * 1 = 28
28 * 2 = 56
28 * 3 = 84
28 * 4 = 112
28 * 5 = 140
28 * 6 = 168
28 * 7 = 196
28 * 8 = 224
28 * 9 = 252
28 * 10 = 280
28 * 11 = 308
28 * 12 = 336
28 * 13 = 364
28 * 14 = 392
28 * 15 = 420

In [26]:
print('Table de soustration de 83')
i=1
while i<=20 :
    print('83 - '+ str(i)+' = '+ str(83-i))
    i+=3

Table de soustration de 83
83 - 1 = 82
83 - 4 = 79
83 - 7 = 76
83 - 10 = 73
83 - 13 = 70
83 - 16 = 67
83 - 19 = 64

# Les dictionnaires
Elles permettent de modéliser un tableau de données
Définition d'un dictionnaire
nomdic={'clé':'valeur'}

In [66]:
dic1={'nom':"Codjo",'age':18}
dic2={'nom':'MARTHE','age':10}
dic3={'nom':'ELIZE','age':33}
dic4={'nom':'FATOU','age':8}
dic5={'nom':'BIO','age':65}
dic6={'nom':'TOTO','age':45}
dic7={'nom':'LERE','age':26}
dic8={'nom':'SEKIMAN','age':24}
dic9={'nom':'AFOUE','age':30}
dic10={'nom':'MONELLE','age':9}
print(dic1)

{'nom': 'Codjo', 'age': 18}

In [67]:
liste_dico=[]
liste_dico.append(dic1)
liste_dico.append(dic2)
liste_dico.append(dic3)
liste_dico.append(dic4)
liste_dico.append(dic5)
liste_dico.append(dic6)
liste_dico.append(dic7)
liste_dico.append(dic8)
liste_dico.append(dic9)
liste_dico.append(dic10)
print (liste_dico)

[{'nom': 'Codjo', 'age': 18}, {'nom': 'MARTHE', 'age': 10}, {'nom': 'ELIZE', 'age': 33}, {'nom': 'FATOU', 'age': 8}, {'nom': 'BIO', 'age': 65}, {'nom': 'TOTO', 'age': 45}, {'nom': 'LERE', 'age': 26}, {'nom': 'SEKIMAN', 'age': 24}, {'nom': 'AFOUE', 'age': 30}, {'nom': 'MONELLE', 'age': 9}]

In [68]:
def mineur():
    for l in liste_dico:
        if l['age']<18:
            print(l['nom'])            
mineur()

MARTHE
FATOU
MONELLE

On ssouhaite ajouter à tous les dictionnaires une variable status qui renseigne si l'individus est mineur ou majeur puis afficher de manière esthétique le contenu de la liste des dico(sous tableau).
Moins de 18 mineur; entre 18 et 30 jeune; à partir de 30 à l'infini adulte.

In [78]:
def ajout_statut():
    for l in liste_dico:
        if l['age']<18:
            l['statut']= 'mineur'
        elif l['age']<30:
              l['statut']= 'jeune'
        else:
           l['statut']='adulte' 
    for e in liste_dico:
        print(e['nom'],'|',e['age'],'|',e['statut'])
ajout_statut()

Codjo | 18 | jeune
MARTHE | 10 | mineur
ELIZE | 33 | adulte
FATOU | 8 | mineur
BIO | 65 | adulte
TOTO | 45 | adulte
LERE | 26 | jeune
SEKIMAN | 24 | jeune
AFOUE | 30 | adulte
MONELLE | 9 | mineur

###Les classes

In [8]:
class Personne:
    def __init__(self):
        self.nom='Dupond'
        self.prenom='Roger'
        self.age=31
        self.ville='Calavi'

In [9]:
#création d'un objet nommé élève à partir de la classe personne
eleve= Personne()
#Affichage des attribut d'élève
print(eleve.nom)
print(eleve.prenom)
print(eleve.age)
print(eleve.ville)

Dupond
Roger
31
Calavi

In [12]:
# Création d'une classe avec des attribut variable
class Individu:
    def __init__(self,nom,prenom):
        self.nom=nom
        self.prenom=prenom
etudiant1=Individu(nom='maïssa',prenom='sophia')
print(etudiant1.prenom)

sophia

In [17]:
class Vecteur:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def somme(self):
        calcul=self.x+self.y
        return calcul

u = Vecteur(x=1,y=-1)
print(u.somme())

0